html{
    scroll-behavior: smooth;
}
/* HERO con imagen de fondo */
.hero {
  position: relative;
  height: 50vh; /* ajusta altura del hero */
  background-image: url('../IMG/logo.JPG'); /* tu imagen de hero */
  background-size: cover; /* hace que la imagen cubra todo el contenedor */
  background-position: center center; /* centra la imagen */
  background-repeat: no-repeat; /* evita repetición */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}